$line_strokeColor: hsla(240, 3%, 93%, 0.21);
$path_strokeColor: #bbb;
$fill: none;

body {
  background: url('../images/background.svg') no-repeat;
}

.container {
  padding: 2em 0em;
  margin-left: 3em;

  svg {
    line {
      stroke: $line_strokeColor;
      shape-rendering: crispEdges;
    }
    path.domain {
      display: none;
      stroke: $fill;
    }
    text {
      fill: white;
    }
  }
}

.container.buttons {
  padding: 3em 0em 0em 2em;
}

div.controls {
    width: 26em;
    padding: 2em;
    position: absolute;
    top: 7em;
    right: 4em;
    background-color: #f1f1f1;

    .btn-state {
      margin-top: 1em;
    }
  }

div.overzicht {
  width: 26em;
  padding: 2em;
  position: absolute;
  top: 20em;
  right: 4em;
  background-color: #f1f1f1;
  text-align: center;
}

div#sigaretten {
    background-color: #2c3e50;
}

div#bier {
  background-color: rgb(231, 76, 60);
}

div#wijn {
  background-color: rgb(52, 152, 219);
}

div#sterk {
  background-color: rgb(22, 160, 133);
}

.legenda {
  display: inline-block;
  text-align: center;
  color: white;
  padding: .5em .8em;
}

@mixin active-btn($color) {
  background-color: $color;
  color: black;
  border: none;
}

.slaap-btn-active {
 @include active-btn(rgb(231, 76, 60));
}

.sigaretten-btn-active {
 @include active-btn(#F6F5A6);
}

.alcohol-btn-active {
 @include active-btn(rgb(91, 228, 247));
}

path.domain {
    fill: none;
    stroke: black;
} 
